#bgAzul{
    background-color:#5856D6;
}
// .progress-group:hover{
//     transition: 0.3s all;
//     background-color: #212631c7;
//     color:white !important;
//     p{
//         color: white;
//     }
// }
.dropdown-toggle::after {
    display: none; /* Remove a seta para baixo */
  }
#cardDelivery:hover{
    background-color: rgba(128, 128, 128, 0.199);
    transition:all ease-in 0.3s;
}
.cardClasse{
    height: 300px !important;    
    overflow: hidden;
    transition:all ease-in 0.3s

}
.cardClasseShow{
    height:600px !important;
    overflow: hidden;
    transition:all 0.3s;
}
b{
    color:#ff7676
    // color:#86137D
    // color:#EA1D29
}
// #divProdutos{
//     background: rgb(255,255,255);
//     background: linear-gradient(90deg, rgb(255, 206, 206) 0%, rgba(211, 158, 162, 0.418) 100%, rgba(175, 78, 84, 0.37) 100%);
// }
@media only screen and (min-width: 800px) {
.progress-group-prepend{
    min-width: 20px;
}
img{
    width: 100px;
    height: 100px;
}
}
@media only screen and (max-width: 799px) {
.progress-group-prepend{
    min-width: 10px;
}
img{
    width: 70px;
    height: 70px;
}
}