
<c-row class="m-0">
  <c-col lg="12" class="pt-3" style="background-color:black; min-height: 250px;">
    <canvas baseChart id="faturamentoChart" #faturamentoChartRef class="mb-3"> 
  </canvas>
  </c-col>
</c-row>
  <app-widgets-dropdown [elements]="bankname"/>

  <c-row class="mt-4 px-4">
        <c-col md="6" xl="12" xs="12" class="text-center" >
          <c-card-group class="mb-4" >
            <c-card id="cardDelivery" *ngFor="let origem of jsonServer.vendasDelivery; let i = index" 
            [ngClass]="{
              'cardClasseShow': cardClass[i], 
              'cardClasse':!cardClass[i]}"
            (click)="cardClass[i]=!cardClass[i]">
            <div> 
              <img cCardImg="top" src="./assets/img/{{origem.origem}}.png" style="width: 200px;height: 200px;">
            </div>
              <c-card-body>
                <!-- <h5 cCardTitle>Vendas {{origem.origem}}</h5> -->
                <p cCardText>
                  Total de Vendas: <strong>R${{origem.vendaTotal}}</strong> <br/>
                  Ticket Medio: <strong>R${{origem.ticketMedio}}</strong><br/>
                  Numero de Pedidos: <strong>{{origem.numeroDePedidos}}</strong><br/>
                </p>
                <div [ngStyle]="{
                  'height':'300px',
                }">
                  <canvas baseChart id="{{origem.origem}}" [height]="450" #chartVendasPorOrigemDeliveryRef class="mb-3"> </canvas> 
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
  </c-row>

  <c-row class="mt-4 px-4">
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header >Top 10 Produtos</c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="6" xl="3" xs="12">
              <c-row>
                <c-col xs="6">
                  <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                    <div class="text-body-secondary text-truncate small">Vendas</div>
                    <div class="fs-5 fw-semibold">9,123</div>
                  </div>
                </c-col>
                <c-col xs="6">
                  <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                    <div class="text-body-secondary text-truncate small">Custo</div>
                    <div class="fs-5 fw-semibold">22,643</div>
                  </div>
                </c-col>
              </c-row>
              <hr class="mt-0" />
              <div class="progress-group mb-4 border rounded p-3 pe-5"  (click)="produtoGraficoGrupo('top 10 produtos')">
                <div class="progress-group-prepend me-3">
                  <span class="text-body-secondary small d-flex me-3 p-0 mt-2">
                    <i class="fa-solid fa-ranking-star pt-1 me-3"></i>
                    <div class="d-block p-0">
                      <p class="text-nowrap">TOP 10 PRODUTOS</p>
                    </div>
                  </span>
                </div>
              </div>

              <c-tabs [activeItemKey]="0" class="p-0 m-0">
                <c-tabs-list variant="underline-border" class="p-2"
                [ngStyle]="{
                'display': 'flex',
                'align-items': 'center',
                'justify-content': 'space-between'}">
                <div class="d-flex">
                  <button cTab [itemKey]="0"><i class="fa-solid fa-arrow-left"></i></button>
                  <button cTab [itemKey]="1"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
                  <c-dropdown >
                    <i cDropdownToggle  class="fa-regular fa-circle-question"></i>
                
                    <ul cDropdownMenu class="p-3">
                      <p style="font-size: 10px;"><strong>Custo</strong> = Quantidade de Vendas X Preço de Custo </p>
                    </ul>
                  </c-dropdown>
                </c-tabs-list>

                <c-tabs-content>



                  <c-tab-panel class="p-1 pt-3" [itemKey]="0" >
                    <div *ngFor="let produtos of jsonServer.listaDeProdutos" 
                    class="progress-group p-0"  
                    (click)="produtoGraficoGrupo(produtos.produto)"
                    id="divProdutos">
                    <c-card class="mb-4 w-100" id="cardDelivery">
                      <c-card-header style="background-color: rgba(128, 128, 128, 0.199);;">
                        <div class="progress-group-prepend m-0 p-0 d-flex justify-content-start ps-3" >
                          <span class="text-body-secondary small d-flex">
                            <!-- <i class="fa-solid fa-circle " style="color: green;"></i> -->
                            <div class="d-block">
                              <p class="text-nowrap " style="font-size: 20px; text-align: center;text-transform: uppercase;"><strong>{{produtos.produto}}</strong></p><br/>
                              <p class="text-nowrap " style="margin-top:-35px ;margin-bottom:-5px ">Id: {{produtos.id}}</p>
                            </div>
                          </span>
                        </div>
                      </c-card-header>
                      <c-card-body>
                        <div class="progress-group-bars d-flex ps-3">
                          <span class="text-body-secondary small w-50 pe-1 ps-1">
                            <p style="font-size: 10px; margin-bottom: 0px;">Custo</p>
                            <p class="mb-0"><strong>R${{produtos.custo}}</strong></p>
                            <c-progress thin color="danger" value="{{(produtos.custo/(produtos.custo+produtos.venda))*100}}" aria-label="Custo" />
                          </span>
                          <span class="text-body-secondary small w-50 pe-1 ps-1" >
                            <p style="font-size: 10px;margin-bottom: 0px;">Venda</p>
                            <p  class="mb-0"><strong>R${{produtos.venda}}</strong></p>
                            <c-progress thin color="info" value="{{(produtos.venda/(produtos.custo+produtos.venda))*100}}" aria-label="Venda" />
                          </span>
                        </div>
                      </c-card-body>
                    </c-card>  


                    </div>
                  </c-tab-panel>





                  <c-tab-panel class="p-3" [itemKey]="1">
                    <strong>Profile</strong> tab content
                  </c-tab-panel>
                </c-tabs-content>
              </c-tabs>
              <div class="legend text-center d-none d-md-block" ngPreserveWhitespaces>
                <small>
                  <sup>
                    <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                  </sup>
                  <span>Venda</span>
                  &nbsp;&nbsp;
                  <sup>
                    <span class="badge badge-pill badge-sm bg-danger">&nbsp;</span>
                  </sup>
                  <span>Custo</span>
                </small>
              </div>
            </c-col>
            <c-col md="6" xl="9" xs="12">
              <c-row id="graficoGrupoScroll" class="mt-3">
                <canvas id="vendasPorProdutoChart" [height]="450" #vendasPorProdutoChartRef></canvas>
              </c-row>
              <c-row class="mt-3 pt-5">
                <canvas id="estoqueProdutoChart" [height]="450" #estoqueProdutoChartRef></canvas>
              </c-row>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row class="px-4">
    <c-col xs>
      <c-card>
        <c-card-header>Entregas</c-card-header>
        <c-card-body>
          <c-row>
            <c-col  md="6" xl="6" xs="12">
              <canvas id="chartMotoboyDelivery" #chartMotoboyRef [height]="450" ></canvas>
            </c-col>
            <c-col  md="1" xl="6" xs="12">
              <canvas id="chartBairrosDelivery" #chartBairrosDeliveryRef [height]="450" ></canvas>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
