
#faturamentoWidget{
    background-color: #008498  !important
}
#ticketWidget{
    background-color:#B04E57 !important
}
#cancelamentosWidget{
    background-color: #7CBCCB!important
}
#vendasWidget{
    background-color: #32BA46 !important
}
#paleta{
    background-color: #00ff26 !important
}